
    th.sorted {
      background-color: #ffeeba; /* Set the background color for the sorted column */
    }
  
    th:not(.sorted) {
      background-color: transparent; /* Clear the background color for other columns */
    }


    .header-cell {
          color:#8EBBFF;
          border: 0px solid white;
          padding: 8px;
          font-size: 12px;
          text-align: left;
     }

     .body-cell {
          color:#FFFFFF;
          border: 0px solid white;
          padding: 8px;
          font-size: 12px;
     }

     .totals-row {
          color:#ea09e2;
          border: 0px solid white;
          padding: 8px;
          font-size: 12px;
     }


     .bar-container {
          display: flex;
          align-items: center;
     }


     .key-selector{
          display: flex;
          align-items: center;
     }
     .key-selector:hover{
         color:#000000;
         background-color: lightgray;
         cursor: pointer; 
     }



      

     .bar-value {
          margin-left: 1px; /* Add some spacing between the bar and value */
          margin-right: 8px;
          text-align: left;
          min-width: 30px;

     }

      .tooltip-table {
         border-collapse: collapse;
         border: 0;
         /* Other styling properties */
     }

     .tooltip-table th, .tooltip-table td {
         padding: 0;
         /* Other cell styling properties */
     }

     .tooltipIcon {
         position: relative;
         display: inline-block;
     }

     .tooltip-text {
         visibility: hidden;
         width: 180px;
         background-color: #1e1e29;
         color: #fff;
         text-align: center;
         border-radius: 5px;
         position: absolute;
         z-index: 9999;
         bottom: -100%;
         left: -150%;
         transform: translateX(-50%);
         opacity: 0;
         font-size: 14px;
         box-shadow: 5px 5px 10px #000000;
         border-style: solid;
         border-color: #1f3b45;
         border-width: 1px;
         right:5px;
     }
     .tooltip-text2 {
         visibility: hidden;
         width: 150px;
         background-color: #1e1e29;
         color: #fff;
         text-align: center;
         border-radius: 5px;
         padding: 5px;
         position: absolute;
         z-index: 1;
         bottom: -100%;
         left: 150%;
         transform: translateX(-50%);
         opacity: 0;
         transition: opacity 0.3s, visibility 0.3s;
         font-size: 14px;
         box-shadow: 5px 5px 10px #000000;
         border-style: solid;
         border-color: #1f3b45;
         border-width: 1px;
         right:5px;
     }
     .tooltipIcon:hover .tooltip-text {
         visibility: visible;
         opacity: 1;
     }
     .tooltipIcon:hover .tooltip-text2 {
         visibility: visible;
         opacity: 1;
     }

     .tooltip-container {
         position: relative;
     }


     .resize-icon-container {
         position: absolute;
         bottom: 0;
         right: 0;
         z-index: 1;
     }
